<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.example.supplychainmanagement" level="DEBUG" />
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="DAILY_ROLLING" />
        <appender-ref ref="SYSLOG" />
    </root>
</configuration>